
<div id="search-div">
	<div>
      <form method="get" id="form1">
          <select name="destinationCity">
            <option value="Amman">Amman</option>
            <option value="New York">New York</option>
            <option value="London">London</option>
            <option value="Paris">Paris</option>
          </select>
      </form>
 	</div>  
   <div>
      <button type="submit" form="form1" value="Submit">Find more Distination cities</button>
  </div>
</div>